<header>
    <ul nz-menu nzMode="horizontal">
        <div class="logo"><img src="../../../assets/img/logo.png"></div>
        <li nz-menu-item routerLink="">Inicio</li>
        <li nz-menu-item routerLink="/products">Productos</li>
        <li nz-menu-item routerLink="/cart">Carrito</li>
        <li nz-menu-item routerLink="/login">Iniciar sesión</li>
        <li nz-menu-item routerLink="/register">Registro</li>
        <li nz-menu-item routerLink="admin/products">Admin - Productos</li>
        <li nz-menu-item routerLink="admin/categories">Admin - Categorías</li>
        <li nz-menu-item routerLink="admin/orders">Admin - Pedidos</li>  
        <div class="LoggedIn row" *ngIf="userService['user']['id']">
            <li class="nav-item">
              <a class="nav-link" routerLink="/profile">{{userService['user']['name']}} </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/logout">Desconectarse</a>
            </li>
          </div>
    </ul>
    {{userService | json}}
</header>