<header>
    <ul nz-menu nzMode="horizontal">
        <div class="logo"><img src="../../../assets/img/logo.png"></div>
        <li nz-menu-item routerLink="">Inicio</li>
        <li nz-menu-item routerLink="/products">Productos</li>
        <li nz-menu-item routerLink="/cart">Carrito</li>
        <li nz-menu-item routerLink="/contact">Contacto</li>
        <li nz-menu-item routerLink="/login">Iniciar sesión</li>
        <li nz-menu-item routerLink="/register">Registro</li>
        <li nz-menu-item routerLink="admin/products">Admin - Productos</li>
    </ul>
</header>