<h6 class="message" *ngIf="message">{{message}}</h6>
<div class="container">
    <div class="table">
        <nz-table #basicTable [nzData]="products">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Referencia</th>
                    <th>Precio</th>
                    <th>Imagen</th>
                    <th>Categoría</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{ product.name }}</td>
                    <td>{{ product.reference }}</td>
                    <td>{{ product.price }}</td>
                    <td><img src={{product.image}} class="productImage" alt="..." *ngIf="product.image"></td>
                    <td>{{ product.Category.name }}</td>
                    <td>
                        <a (click)="editProduct(product)">Editar</a> /
                        <a (click)="deleteProduct(product.id)">Eliminar</a>
                        
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>

    <div class="table">
        <h2>Producto</h2>
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-control nzErrorTip="Ingrese el nombre del producto!">
                    <nz-input-group>
                        <input type="text" nz-input formControlName="name" placeholder="Nombre" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Ingrese la referencia!">
                    <nz-input-group>
                        <input type="text" nz-input formControlName="reference" placeholder="Referencia" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Ingrese el precio!">
                    <nz-input-group>
                        <input type="number" nz-input formControlName="price" placeholder="Precio" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <nz-input-group>
                        <input type="text" nz-input formControlName="image" placeholder="Imagen" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Seleccione una categoría"
                    formControlName="CategoryId">
                    <nz-option *ngFor="let category of this.categories" nzLabel={{category.name}} [nzValue]=+category.id></nz-option>
                </nz-select>
            </nz-form-item>
            <nz-form-item>
                <button nz-button class="login-form-button" [nzType]="'primary'">Entrar</button>
            </nz-form-item>
        </form>
    </div>
</div>

{{this.validateForm.value| json}}