<div class="container">
    <div class="table">
        <nz-table #basicTable [nzData]="products">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Referencia</th>
                    <th>Precio</th>
                    <th>Imagen</th>
                    <th>Categoria</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{ product.name }}</td>
                    <td>{{ product.reference }}</td>
                    <td>{{ product.price }}</td>
                    <td><img src={{product.image}} class="productImage" alt="..." *ngIf="product.image"></td>
                    <td>{{ product.Category.name }}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>