.contenido{
   display: grid;
   grid-template-rows: 20% 20% 20% 20% 20%;
   grid-template-columns: 20% 20% 20% 20% 20%;
   margin: 3%;
}
nz-card{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}