<p>admin-orders works!</p>
<div class="container">
    <div class="table">
        <nz-table #basicTable [nzData]="orders">
            <thead>
                <tr>
                    <th>Nº</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Usuario</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders">
                    <td>{{ order.id }}</td>
                    <td>{{order.date | date:"dd/MM/yyyy"}}</td>
                    <td>{{ order.status }}</td>
                    <td>{{ order.UserId }}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>