<p>register works!</p>
<div class="container">
<div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="12">
      <input nz-input formControlName="captcha" id="captcha"/>
    </div>
    <div nz-col [nzSpan]="12">
      <button nz-button (click)="getCaptcha($event)">Get captcha</button>
    </div>
  </div>
</nz-form-control>
</nz-form-item>
<nz-form-item nz-row class="register-area">
<nz-form-control [nzSpan]="14" [nzOffset]="6">
  <label nz-checkbox formControlName="agree">
    <span>I have read the <a>agreement</a></span>
  </label>
</nz-form-control>
</nz-form-item>
<nz-form-item nz-row class="register-area">
<nz-form-control [nzSpan]="14" [nzOffset]="6">
  <button nz-button nzType="primary">Register</button>
</nz-form-control>
</nz-form-item>
</form>
</div>