<div class="container">
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <h1>Iniciar sesión</h1>
    <nz-form-item>
      <nz-form-control nzErrorTip="Ingrese su nombre de usuario!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="userName" placeholder="Username" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Ingrese su contraseña!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="remember">
          <span>Recordar</span>
        </label>
        <a class="login-form-forgot" class="login-form-forgot">Olvidé la contraseña</a>
        <button nz-button class="login-form-button" [nzType]="'primary'">Entrar</button>
        O
        <a>registrarme ahora!</a>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>